@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-color:  #f4f1f5d8;
background-image: url('C:/Users/HP/Desktop/StudyStay Seeker/client/src/assets/OIP2.jpg');
background-repeat: no-repeat;
background-size: cover;


}